[submodule "submodules/amazon-eks-ami"]
	path = submodules/amazon-eks-ami
	url = https://github.com/techcto/amazon-eks-ami.git
[submodule "submodules/quickstart-amazon-eks-nodegroup"]
	path = submodules/quickstart-amazon-eks-nodegroup
	url = https://github.com/aws-quickstart/quickstart-amazon-eks-nodegroup.git
[submodule "submodules/quickstart-amazon-eks"]
	path = submodules/quickstart-amazon-eks
	url = https://github.com/aws-quickstart/quickstart-amazon-eks.git
